/* Custom CSS as required. */

#messages {
    height: calc(100vh - 3.25rem - 76px);
    overflow-x: auto;
    padding-top: 0.75rem;
    padding-bottom: 1.25rem;
}

.modal-card-foot.is-right {
    justify-content: flex-end;
}

.notification {
    margin-bottom: 0.3rem !important;
}
